.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
 
}
@media only screen and (min-width: 768px) {
    /* For tablets: */
   @for $i from 1 through 12{
.col-#{$i}{
width:percentage($i/12);
}
}
}
.nav{
height:35px;
background-color:#212F3D;
padding-bottom:8px;
padding-top:5px;
.navcontent{
padding-left:400px;
}
}
.container{
width:1366px;
height:600px;
}
.navi{
display:inline;
list-style-type:none;
}
@for $i from 1 through 2{
.direct_#{$i} {color:#0595FF;}
}
.direct_3{
color:#B0C0D7;
}

.buttonNav{
background-color:#35A7FF;
height:30px;
width:97px;
font-size: 12px;
padding:5px;
color:white;
border:{
radius:4px;
color:#35A7FF;
border:none;
}
margin:5px;
border:none;
}
.buttonNav:active option{
  width:150px;   
}
 
.navcontent select #dropdown{ width: 200px; }

.logos{
list-style-type:none;
position:relative;
margin:0;
}
$left1:130px;
$xlen:0px;
@for $i from 1 through 4{
.logo_#{$i} {
background: url("../images/logos.png") -$xlen 0;
left:$left1;
top:-45px;
$left1:$left1+40px;
$xlen:$xlen+42px;
position:absolute;
display:inline;
width:30px;
height:35px;
}
}
.sideNavigation{
width:60px;
height:580px;
background-color:#2C3E50;
float:left;
}
.logos2{
@extend .logos;
list-style-type:none;
}
$ylen:0px;
$top:20px;
@for $i from 1 through 5{
.logos_#{$i} {
$xlen:0px;
background: url("../images/logos_2.png") -5px $ylen*-1;
left:8px;
top:$top;
$top:$top+50px;
$ylen:$ylen+50px;
position:absolute;
width:48px;
height:45px;
}
}
.heading{
margin-bottom:-10px;
margin-top:-10px;

}
.heading h2{
padding-left:10px;
}
.labels{
color:#57739D;
width:12%;
text-align:right;
}


.inputs{
background-color:white;
padding-left:10px;
width:350px;
height:35px;
border:1px solid #D7DADE;
}
td{
padding-right:10px;
padding-top:8px;
}
input[type='radio'] {
  width: 17px; height:17px;
}
input[type="radio"].radios:before {
  content:"";
  width: 24px;
  height: 24px;
  background-color: #1f1f1f;
  display: block;
  border-radius: 50%;
  position: relative;
  top: -6px;
  left: -6px;
  box-shadow: 0 1px 2px rgba(255,255,255,.1),
              inset 0 2px 2px rgba(0,0,0,.8);
} 

.createUser{
clear:both;
width:70%;
text-align:center;
}
.cancelButton{
color:#6DC5FF;
background-color:white;
border:3px solid white;
 font-weight: bold;
}
.createButton{
width:98px;
height:35px;
background-color:#DDDDDD;
border:3px solid #DDDDDD;
color:#57739D;
padding:2px 5px;
border-radius:3px;
}
.dropdown{
color:#A9A9A9;
width:363px;
height:35px;
}
.maincontent{
border:1px solid #D7DADE;
margin:10px -40px 0 10px;
background-color:white;
height:300px;

}
.section{
background-color:#EAECEE;
}
.mandatory{
color:red;
}
.direct_0{
color:white;
font-size:25px;
margin-right:50px;
margin-left:-30px;
}
body{
margin:0;
font-family:arial,"Sans serif";
font-size:15px;
}
.underLine{
border-top: 0px solid #EAEAEB;
}
table{
font-size:13px;
}
.radios{
 font-size:15px;
color:#747474;
}
#dropdown select{
  width:350px;   
}
